## Directory-based project format:
.idea/

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# VSCode
.vscode

# Mac OSX Finder file
.DS_Store

/.gradle

.gradle

.build

/.build

dotnet-maui-instana-integration/android/native/newbinding/build
dotnet-maui-instana-integration/android/NewBinding.Android.Binding/bin
dotnet-maui-instana-integration/android/NewBinding.Android.Binding/obj
dotnet-maui-instana-integration/macios/NewBinding.MaciOS.Binding/bin
dotnet-maui-instana-integration/macios/NewBinding.MaciOS.Binding/obj
