/* body {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
}
body > * {
  flex-shrink: 0;
  min-height: -webkit-fill-available;
} */

hr {
  background-color: rgb(33, 37, 41) !important;
}

.bd-sidebar {
  grid-area: sidebar;
  border-right: 1px solid #dadde1;
}

.bd-main {
  grid-area: main;
  max-width: unset !important;
}

.content-iframe {
  height: calc(100vh - 5rem);
  width: 100%;
  overflow-y: auto;
}

.b-example-divider {
  width: 1.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-notoggle,
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  justify-content: space-between;
  background-color: transparent;
  border: 0;
}

.btn-notoggle:hover,
.btn-notoggle:focus,
.btn-toggle:hover,
.btn-toggle:focus {
  background-color: #d2f4ea;
}

.btn-toggle::after {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: #156090;
}

.sidebar-links-active:hover,
.sidebar-links-active:focus,
.sidebar-links-active {
  color: rgb(234, 89, 6);
}

.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

.bd-links {
  overflow: auto;
  overflow-y: auto;
  font-weight: 600;
}

.bd-links {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  display: block !important;
  height: calc(100vh - 7rem);
  padding-left: 0.25rem;
  margin-left: -0.25rem;
  overflow-y: auto;
}

.bd-layout {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "sidebar main";
  /* grid-template-columns: 1fr 3fr; */
  grid-template-columns: 330px auto;
}
.my-md-4 {
  /* margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; */
  margin: 0px !important;
  max-width: unset !important;
}

.navbar--fixed-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 1rem !important;
  z-index: 9999;
}

.navbar__inner {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.navbar__items {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}
.navbar__items--center {
  flex: 0 0 auto;
}
.menu__list .menu__list .menu__list-item,
.navbar__items--center .navbar__brand,
.popup_3cxa p {
  margin: 0;
}
.navbar__items--right {
  justify-content: flex-end;
  margin-right: 20px;
}
.navbar__item {
  display: inline-block;
}
.navbar__link {
  cursor: pointer;
  color: white;
  /* font-weight: var(--ifm-font-weight-semibold); */
  text-decoration: none;
  font-size: 1.2em;
}

.navbar__link:hover {
  color: #efefef;
  text-decoration: none;
}

.navbar__link:visited {
  text-decoration: none;
}

.header-github-link:hover {
  opacity: 0.6;
}
.header-github-link:before {
  content: "";
  width: 30px;
  height: 30px;
  display: flex;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}
